* {
    box-sizing: border-box;
}

html{
    background-color: cadetblue;
}
.big{
    background-color: cadetblue;
}

.parent{
    background-color: #eee;
    width: 600px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: repeat(3,1fr);
    height: 600px;
    text-align: center;
    align-items: center;
    margin: 80px auto;
    outline: 15px solid rgb(6, 123, 76);
    border-radius: 1px;
}
.parent span{
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 100px;
    width: 200px;
    gap: 0px;
    height: 200px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    cursor: pointer;
}
.cell1,.cell2,.cell3,.cell4,.cell5,.cell6{
border-bottom-color: transparent;
}
.cell7,.cell8,.cell9{
    border-bottom:2px solid black ;
}
#button{
   position: relative;
   top: -60px;
   width: 100px;
   left: 47%;
}

.result
{
    width: 400px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: darkturquoise;
    border-radius: 10px;
    display: none;
}
p{
    font-weight: bold;
}
@media  (max-width:2000px)and (min-width:0px){
    .parent{
      background-color:red;
        position: fixed ;
        top: 25%;
    }
}

